<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ihs.homeconnect">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name="com.ihs.homeconnect.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ihs.homeconnect.DashboardActivity"
            android:label="@string/title_activity_dash" />
        <activity
            android:name="com.ihs.homeconnect.ImportKeyActivity"
            android:label="@string/title_activity_import_key" />
        <activity
            android:name="com.ihs.homeconnect.ExportActivity"
            android:label="@string/title_activity_export" />
        <activity
            android:name="com.ihs.homeconnect.DownloadMediaActivity"
            android:label="@string/title_activity_download_media" />
        <activity
            android:name="com.ihs.homeconnect.PeerConnectActivity"
            android:label="@string/title_activity_peer_connect" />
        <activity
            android:name="com.ihs.homeconnect.ListFileActivity"
            android:label="@string/selectKey" />
        <activity
            android:name=".DownloadManagerActivity"
            android:label="Download Manager" />
    </application>

</manifest>
